@charset "utf-8";
 
 html, body {
 margin: 30px;
 padding: 0px;
 margin-left: 30px;
 margin-right: 30px;
 margin-top: 40px;
 border: 0px;
 color: #454545;
 background: #efefef;
 }
 html, body, th, td, li, dd, dt {
 font: "TimesNewRoman", 1em "Arial", "Helvetica", "sans-serif";
 }
 h1, h2, h3, h4, h5, h6 {
 font-family: "TimesNewRoman", "Arial", "Helvetica", "sans-serif";
 color: #4c4c4c;
 }
p {
  margin: 10 auto;
  font-family: "TimesNewRoman", "Helvetica Neue", "Arial", "sans-serif";
  font-weight: 12;
  font-variant-ligatures: normal;
  font-size: 14;
  letter-spacing: 1px;
  line-height: 1.5;
}
 h1 { font-size: 1.0em; }
 h2 { font-size: 0.7em; }
 h3 { font-size: 0.7em ; }
 h4 { font-size: 0.7em; }
 h5 { font-size: 0.6em; }
 h6 { font-size: 0.8em; }
 a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
a:active { color: #0cf; }
table
{ 
margin-left: 30px;
margin-right: 30px;
margin-top: 40px;
}
