@charset "utf-8";
 
 html {
 margin: 0 auto;
 color: #454545;
 background: #808080;
 width: 900;
 margin-top: 0px;
 -moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 0px;
-moz-box-shadow: 1px 1px 4px #000;
-webkit-box-shadow: 1px 1px 4px #000;
box-shadow: 1px 1px 4px #000;
 }
 body, th, td, li, dd, dt {
 font: "TimesNewRoman", "Helvetica Neue", "Arial", sans-serif;
 color: #464646;
  background: #dadada; 
 margin-top: 0px;
 margin: 0px;
 }
p {
  margin: 30 auto;
  font-family: "TimesNewRoman", "Helvetica Neue", "Arial",  sans-serif;
  font-weight: 12;
  font-variant-ligatures: normal;
  font-size: 14;
  letter-spacing: 1px;
  line-height: 1.5;
}

 h1, h2, h3, h4, h5, h6 {
 font-family: "TimesNewRoman", "Helvetica Neue", "Arial",  sans-serif;
 color: #4c4c4c;
 font-size: 14;
 letter-spacing: 1px;
 line-height: 1.5;
 margin-left: 10px;
 margin-right: 10px ;
 }
 h1 { font-size: 1.2em; }
 h2 { font-size: 1.0em; }
 h3 { font-size: 0.8em; }
 h4 { font-size: 0.8em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }
 a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf; }


table {
  margin: 20 auto;
  margin-top: 35px;
background-color: #ededed;
color: #454545;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 0px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
height: 800px;
width: 590px;
}
tr { background-color: #ededed; }
td { background-color: #ededed; }
