@charset "utf-8";
 
 html { scroll-behavior: smooth; } 
 

/* Mobile Styles */
@media only screen and (max-width: 899px) {
  html {
 scroll-behavior: smooth; 
 margin: 0 auto;
 color: #4c4c4c;
 background: #525252;
 width: 100%;
 margin-top: 0px;
 border-style: solid;
 border-width: 1px;
 border-color: #454545;
  }
}


/* Desktop Styles */
@media only screen and (min-width: 900px) {
  html {

 scroll-behavior: smooth; 
 margin: 0 auto;
 color: #4c4c4c;
 background: #525252;
 width: 900px;
 margin-top: 0px;
 border-style: solid;
 border-width: 1px;
 border-color: #454545;
 }
  }
  .header {
    /* The image used */
    background-image: url("rick.jpg");
  position: fixed;
    min-height: 15px;
    padding-top: 180px;
padding-right: 10px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

   /* Navbar container */
.navbar {
  overflow: hidden;
  float: right;
  background-color: #999;
  font-family: Arial;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;

  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
 }

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 13px;
  color: black;
  text-align: center;
  word-spacing: 3px;
  padding: 3px 6px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 13px;
  border: black;
  outline: none;
  color: black;
  padding: 3px 6px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #666;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  position: fixed;
  max-width: 894px;
  bottom: 0;
  word-spacing: 20px;
  padding: 3px 3px;
  background-color: #999;
  width: 100%;
  color: black;
  border-top: 1px solid black;
 text-align: center;
}
.iconify {
	color: black;
}

 body, th, td, li, dd, dt, footer {
 font: "Arial", "TimesNewRoman", "Helvetica Neue", "Arial", sans-serif;
 color: #4c4c4c;
  background: #e9ebee; 
 margin-top: 0px;
 margin: 0px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,3.2);
 }
p {
  margin: 10 auto;
  color: black;
  font-family: "Arial", "TimesNewRoman", "Helvetica Neue", "Arial",  sans-serif;
  font-weight: 12;
  font-variant-ligatures: normal;
  font-size: 14;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-left: 30px;
 margin-right: 30px ;
}


form {
  padding-left: 40%;
  width: 60%;
  height: 330px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
textarea {
  width: 80%;
  height: 200px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  resize: none;
}

 h1, h2, h3, h4, h5, h6 {
 font-family: "Arial", "TimesNewRoman", "Helvetica Neue", sans-serif;
 color: #4c4c4c;
 letter-spacing: 1px;
 line-height: 1.5;

 }
 h1 { font-size: 1.2em; 
  margin-left: 30px;
 margin-right: 30px ;
  margin-top: 40px;
}
 h2 { font-size: 14;
  margin-left: 30px;
 margin-right: 30px ;
  margin-top: 10px;
}
 h3 { font-size: 0.8em; }
 h4 { font-size: 0.8em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }
 a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf; }

a:link {
    color: #0c0c0c;
    background-color: transparent;
    text-decoration: none;
    text-decoration: underline;
}
a:visited {
    color: #0c0c0c;
    background-color: transparent;
    text-decoration: none;
    text-decoration: underline;
}
a:hover {
    color: #0c0c0c;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #0c0c0c;
    background-color: transparent;
    text-decoration: underline;
}


table {
  margin: 30 auto;
  margin-top: 0px;
background-color: #e9ebee;
color: #454545;

 

width: 590px;
}
tr { background-color: #e9ebee;  }
td { background-color: #e9ebee; 

}
